In [38]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('SPY.csv')

In [3]:
df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,SPY,SPY,SPY,SPY,SPY
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,237.9091339111328,237.9445485729644,236.69644512475205,237.08592536448378,86655700
3,2018-01-03,239.41397094726562,239.56446301538605,238.07734421407596,238.07734421407596,90070400
4,2018-01-04,240.42303466796875,240.90989847444283,239.47591532497438,240.06013568466005,80636400

In [46]:
df_clean = df.drop([0,1])

In [5]:
df_clean.head()

,Price,Close,High,Low,Open,Volume
2,2018-01-02,237.9091339111328,237.9445485729644,236.69644512475205,237.08592536448378,86655700
3,2018-01-03,239.41397094726562,239.56446301538605,238.07734421407596,238.07734421407596,90070400
4,2018-01-04,240.42303466796875,240.90989847444283,239.47591532497438,240.06013568466005,80636400
5,2018-01-05,242.02520751953125,242.14911830388075,240.72399570977953,241.21969287411642,83524000
6,2018-01-08,242.4678192138672,242.62714467178108,241.63575024902096,241.92784692186305,57319200

In [48]:
df_clean["SMA_10"] = df_clean["Close"].rolling(window=10).mean()
df_clean["SMA_30"] = df_clean["Close"].rolling(window=30).mean()
df_clean["EMA_10"] = df_clean["Close"].ewm(span=10, adjust=False).mean()
df_clean["EMA_30"] = df_clean["Close"].ewm(span=30, adjust=False).mean()

In [30]:
type(df_clean['Close'].iloc[0])

str

In [49]:
df_clean['Close'] = pd.to_numeric(df_clean["Close"], errors= "coerce")

In [50]:
    # --- Momentum ---
df_clean["MOM_5"] = df_clean["Close"].pct_change(periods=5)

In [51]:
# --- Volatility (20-day rolling standard deviation) ---
df_clean["VOL_20"] = df_clean["Close"].pct_change().rolling(window=20).std()

In [55]:
delta = df_clean["Close"].diff()
gain = delta.clip(lower=0)
loss = (-delta).clip(lower=0)
avg_gain = gain.rolling(window=14, min_periods=14).mean()
avg_loss = loss.rolling(window=14, min_periods=14).mean()
rs = avg_gain / avg_loss
df_clean["RSI_14"] = 100 - (100 / (1 + rs.replace(0, np.nan)))

In [56]:
df_clean.head(30)

,Price,Close,High,Low,Open,Volume,SMA_10,SMA_30,EMA_10,EMA_30,MOM_5,VOL_20,RSI_14
2,2018-01-02,237.909134,237.9445485729644,236.69644512475205,237.08592536448378,86655700,NaN,NaN,237.909134,237.909134,NaN,NaN,NaN
3,2018-01-03,239.413971,239.56446301538605,238.07734421407596,238.07734421407596,90070400,NaN,NaN,238.182741,238.006220,NaN,NaN,NaN
4,2018-01-04,240.423035,240.90989847444283,239.47591532497438,240.06013568466005,80636400,NaN,NaN,238.590067,238.162144,NaN,NaN,NaN
5,2018-01-05,242.025208,242.14911830388075,240.72399570977953,241.21969287411642,83524000,NaN,NaN,239.214638,238.411374,NaN,NaN,NaN
6,2018-01-08,242.467819,242.62714467178108,241.63575024902096,241.92784692186305,57319200,NaN,NaN,239.806125,238.673080,NaN,NaN,NaN
7,2018-01-09,243.016678,243.64514641967594,242.60947669065388,242.8927400198624,57254000,NaN,NaN,240.389862,238.953312,0.021468,NaN,NaN
8,2018-01-10,242.644821,242.91039059135448,241.5826245099532,242.2553409553702,69574300,NaN,NaN,240.799855,239.191474,0.013495,NaN,NaN
9,2018-01-11,244.415222,244.41522216796875,243.03434734322684,243.2025332397573,62361500,NaN,NaN,241.457194,239.528490,0.016605,NaN,NaN
10,2018-01-12,246.008560,246.17671906522696,244.37980969297988,244.68079383624084,90816100,NaN,NaN,242.284715,239.946559,0.016458,NaN,NaN
11,2018-01-16,245.167603,247.9293518961884,244.46830478085678,247.27432921913152,106555100,242.349205,NaN,242.808877,240.283400,0.011135,NaN,NaN
12,2018-01-17,247.504486,247.89396637382106,245.1676313584399,246.105917416644,113258800,243.308740,NaN,243.662624,240.749277,0.018467,NaN,NaN
13,2018-01-18,247.088470,247.81429550853827,246.5927461862402,247.38942757972129,100728000,244.076190,NaN,244.285505,241.158257,0.018313,NaN,NaN
14,2018-01-19,248.212631,248.21263122558594,247.08846550184475,247.6726588922479,140920100,244.855150,NaN,244.999528,241.613378,0.015537,NaN,NaN
15,2018-01-22,250.230774,250.23077392578125,247.94700135668535,248.0001368472511,91322400,245.675706,NaN,245.950664,242.169339,0.017163,NaN,NaN
16,2018-01-23,250.761932,251.05402905144194,249.94755721688517,250.27506855775837,97084700,246.505118,NaN,246.825440,242.723700,0.022818,NaN,89.889611
17,2018-01-24,250.664536,252.01002249061014,249.47840102028331,251.4080813142676,134816100,247.269904,NaN,247.523457,243.236012,0.012768,NaN,88.259371
18,2018-01-25,250.770798,251.62942106304513,249.97414330980337,251.53206449566665,84587300,248.082501,NaN,248.113883,243.722127,0.014903,NaN,87.491306
19,2018-01-26,253.674179,253.71845416424915,251.35501813891216,251.61172720097315,107743100,249.008397,NaN,249.124846,244.364195,0.022004,NaN,88.569113
20,2018-01-29,251.992325,253.54138545786572,251.83299936194803,253.09879670679024,90118300,249.606773,NaN,249.646206,244.856332,0.007040,NaN,79.143563
21,2018-01-30,249.407562,252.04537329547156,248.92955895475808,250.1511079389796,131796400,250.030769,NaN,249.602816,245.149960,-0.005401,NaN,67.388674
22,2018-01-31,249.531479,250.77072171609996,248.4515614805199,250.26619117843128,108364800,250.233469,NaN,249.589845,245.432639,-0.004520,0.005495,68.993871
23,2018-02-01,249.248215,250.55828686352945,248.45156054646696,248.79679266335748,90102500,250.449443,NaN,249.527731,245.678805,-0.006072,0.005468,64.520909
24,2018-02-02,243.822128,248.05327523352855,243.78671363574026,247.92047701130312,173174800,250.010393,NaN,248.490349,245.559019,-0.038837,0.007595,44.660531
25,2018-02-05,233.624847,244.17617312530967,233.07604178687254,242.05175292519647,294681800,248.349800,NaN,245.787530,244.789073,-0.072889,0.012039,30.652806
26,2018-02-06,238.227783,238.73234077305224,228.99538997718903,230.09300124077632,355026800,247.096385,NaN,244.413031,244.365764,-0.044825,0.012944,35.548785
27,2018-02-07,236.935425,241.08688157739127,236.85573507414517,237.67011009335184,167376100,245.723474,NaN,243.053466,243.886387,-0.050479,0.012962,34.603983
28,2018-02-08,228.048279,237.37805702441392,228.0128641455726,237.23642538580214,246449500,243.451222,NaN,240.325250,242.864574,-0.085056,0.015299,25.249928
29,2018-02-09,231.473907,233.34161895839765,223.8790831879497,230.85427243881512,283565300,241.231195,NaN,238.715915,242.129692,-0.050644,0.015665,27.746395
30,2018-02-12,234.873001,236.35125945040988,231.61555429185336,233.53637439238625,143736000,239.519263,NaN,238.017203,241.661518,0.005343,0.016018,32.350091
31,2018-02-13,235.457199,236.00600478745633,233.07606962142876,233.660289973586,81223600,238.124226,243.5014,237.551748,241.261240,-0.011630,0.016048,33.287969